<i want to like have a header that like has the name of our app.> <what was it called, politck'n?> <like that?> <umm.> <and then you're gonna search like hillary clinton>

  <header></header>


  <form action='http://localhost:3000'method='get'>
    <input type='text'>
    <input type='submit' value='swag'>
  </form>